.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  font-family: 'Press Start 2P', cursive !important;
}

html, body, .container {
  background-color: black !important;
  color: white;
}

.box {
  border: 2px solid white;
}

.dialog.overlay {
  background-color: #00000069 !important;
}

#root {
  height: 100vh;
}

.post { 
  padding: 2em;
}

.box-y {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

._navbar {
  border-bottom: 2px solid white;
}